<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/media/sm-logo.png" type="png" sizes="32px" />
    <title>SM Web Services</title>
  </head>
  <body>
    <h1 class="section-title">
      ¡Hola! Aquí puedes ver cómo se vería la web de Mi Verde Jardin en una web.
      Recuerda que esto es solo un esquema, no es una página funcional
    </h1>
    <section class="hero__jardin"></section>
  </body>
</html>
